<html>
<head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="timeline_input.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {'packages':['timeline', 'table']});
        google.charts.setOnLoadCallback(drawVisuals);

        function drawVisuals() {
            drawChart();
            //drawTable();
        }
        function toMilliseconds(minutes) {
            return minutes * 60 * 1000;
        }
        function daysToMilliseconds(days) {
            return days * 24 * 60 * 60 * 1000;
        }
        console.log(metadata)
        //console.log(data)
        var chartData = []
        //modify the incoming data to shape to the chart
        data.forEach((item, index) => {
            chartData.push([
                //item.focus_area,
                item.task,
                item.description,
                item.id,
                new Date(item.start_date.year, item.start_date.month - 1, item.start_date.day),
                new Date(item.end_date.year, item.end_date.month - 1, item.end_date.day)
            ])
        })

        //modify the array
        // data.forEach((item, index) => {
        //     //get the start date if there is one
        //     //modify the start_date element
        //     if(item[9] != null) {
        //         item[3] = new Date(item[9].year, item[9].month-1, item[9].day);
        //     } else {
        //         item[3] = null;
        //     }
        //     item.pop();
        // })
        // console.log(data)

        function chartReadyHandler() {
            //var a = document.getElementsByTagName('g')
            //a[7].childNodes[2].textContent = 'hello'
        }

        function drawChart() {
            var container = document.getElementById('chart_div');
            var chart = new google.visualization.Timeline(container);

            var otherData = new google.visualization.DataTable();
            otherData.addColumn({ type: 'string', id: 'row' });
            otherData.addColumn({ type: 'string', id: 'bar' });
            otherData.addColumn({ type: 'string', role: 'tooltip' });
            otherData.addColumn({ type: 'date', id: 'Start', label: 'End' });
            otherData.addColumn({ type: 'date', id: 'End', label: 'End' });

            otherData.addRows(chartData);

            var options = {
                height: 500,
                width: 1000,
                avoidOverlappingGridLines: true,
                timeline: {
                    colorByRowLabel: true,
                    groupByRowLabel: true,
                },
                hAxis: {
                    format: 'MMMM d, yyyy',

                }
            };


            //var chart = new google.visualization.Gantt(document.getElementById('chart_div'));
            //google.visualization.events.addListener(chart, 'ready', chartReadyHandler);

            chart.draw(otherData, options);
        }

        function drawTable() {
            var tableData = new google.visualization.DataTable();
            tableData.addColumn('string', '');
            tableData.addColumn('number', 'Option A');
            tableData.addRows([
                ['Price',  {v: metadata.project_cost} ],
                ['Discount', 0],
                ['Duration (weeks)', metadata.project_weeks],
                ['Extras', 0],
                ['Monthly Fee', metadata.monthly_cost]
            ]);

            var formatter = new google.visualization.NumberFormat({
                prefix: '$',
                negativeColor: 'red',
                negativeParens: true,
                fractionDigits: 0,
            });
            //formatter.format(tableData, 1); // Apply formatter to second column

            var table = new google.visualization.Table(document.getElementById('table_div'));
            var tableOptions = {
                showRowNumber: false,
                width: '25%',
                height: '100%',
                allowHtml: true,
            }
            table.draw(tableData, tableOptions);
        }

    </script>
</head>
<body>
<div id="chart_div"></div>
<div id="table_div"></div>

</body>
</html>
